html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Disable text selection and magnifying glass on iOS */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  position: relative;
  color: black;
  background: black;
  font-family: 'Inconsolata', monospace;
  font-size: 100%;
  font-weight: 400;
  min-height: 100% !important;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 300px;
  position: relative;
  margin: auto;
  line-height: 1.2;
  z-index: 10;
  padding: 20px;
  border-radius: 5px;
  user-select: none;
  pointer-events: auto;
  color: grey;
}

.text .hello {
  color: white;
}

.text a {
  color: white;
  text-decoration: none;
}

.text a:hover {
  color: white;
  text-decoration: underline;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
}

li:after {
  content: '|';
  margin: 0px 10px;
}

li:last-child:after {
  content: '';
}

.play {
  text-align: right;
}

@media only screen and (max-width: 820px) {
  .text {
    font-size: 90%;
  }
}

@media only screen and (max-width: 620px) {
  .text {
    width: calc(100% - 80px);
    font-size: 90%;
    max-height: 85vh;
    overflow-y: auto;
  }
}

@supports (-webkit-touch-callout: none) {
  .app {
    height: -webkit-fill-available;
  }
}
